<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    
    <title>Test-Order-App</title>
    <meta property="og:title" content='<%= title %>'/>
    <meta property="og:description" content='<%=description %>'/>
    <meta property="og:image" content='<%=image %>'/>

  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    
  </body>
  <script>
    window.location.replace('<%=frontendUrl %>');
  </script>
</html>